/* 
    Description: This css module applies to Signup, VerifyEmail, Login, ForgotPassword, and ResetPassword components.
    Last updated: 6/12/2026
*/

.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.title {
    font-size: 45px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 2rem;
}

.errorMessage {
    background-color: #D9EDF8;
    border-radius: 5px;
    padding: 1rem;
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #004A94;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formText {
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    margin-bottom: 0.2rem;
}

.form > div  {
    margin-bottom: 1.3rem;
}

.form > div input {
    border: 2px solid #004A94;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem;
    min-width: 250px;
}

.form > div input:focus {
    outline: none;
}