.dashboardContent {
    display: flex;
    flex-direction: row;
    position: relative;
}

.dashboardContent > div:last-of-type {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2rem 1rem;
}

.title {
    font-size: 45px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
    text-align: center;
    margin-bottom: 2rem;
}

.panel {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.sidePanel {
    flex: 1;
    min-width: 300px;
    background-color: #D9EDF8;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.sidePanel > div {
    display: flex;
    flex-direction: column;
}

.sidePanelTitle {
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #004A94;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
}

.textOptions {
    display: flex;
    gap: 10px;
    margin-bottom: 1.5rem;
}

.textOptions > div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.textOptions button {
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    border: 2px solid #004A94;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #004A94;
}

.textOptions button:hover {
    cursor: pointer;
}

.textInput {
    display: flex;
    height: 150px;
    margin-bottom: 1.5rem;
}

.textInput textarea {
    outline: none;
    width: 100%;
    resize: none;
    border: 2px solid #004A94;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 18px;
}

.mediaForm {
    display: flex;
    margin-bottom: 1rem;
}

.mediaForm input {
    flex: 1;
    margin-right: 0.5rem;
    border: 2px solid #004A94;
    border-radius: 5px;
    font-size: 16px;
    padding: 0.5rem;
}

.mediaForm input:focus {
    outline: none;
}

.mediaFormBtn {
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #004A94;
    border: 2px solid #004A94;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
}

.mediaFormBtn:hover {
    cursor: pointer;
}

.mediaGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.mediaGrid img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.giphyLogo {
    align-self: flex-end;
    justify-self: flex-end;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    perspective: 1000px;
    width: 800px;
    height: 400px;
    margin-bottom: 1.5rem;
}

.cardInner {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card.flip .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    width: 800px;
    height: 400px;
    position: absolute;
    backface-visibility: hidden;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardFront {
    z-index: 2;
    transform: rotateY(0deg);
}

.cardBack {
    transform: rotateY(180deg);
}

.deckNav {
    display: flex;
    gap: 10px;
}

.deckNav button, span {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #004A94;
}

.deckNav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.deckNav button:disabled {
    color: #D9EDF8;
    cursor: auto;
}

.toolbar {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 15px;
    padding: 1rem;
    border-radius: 5px;
    background-color: #D9EDF8;
}

.toolOption {
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline-offset: 4px;
}

.shadow {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(6px);
}

.edge {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    background-color: #296b8e;
}

.front {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 14px;
    transform: translateY(-6px);
    transition: transform 0.1s ease;
    font-size: 22px;
    color: white;
    background-color: #afd6eb;
}

.toolOption:hover .front {
    transform: translateY(-8px);
}

.toolOption:active .front {
    transform: translateY(-2px);
}

.toolOption:active .shadow {
    transform: translateY(2px);
}

.invalidRequest {
    color: #004A94;
    font-size: 18px;
    font-family: "Imprima", sans-serif;
    font-style: normal;
    margin-bottom: 1rem;
    font-weight: 600;
    background-color: #D9EDF8;
    border-radius: 5px;
    padding: 1rem;
}

.background {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}

@keyframes slideRight {
    from { background-position: 0 0; }
    to { background-position: 180px 0; }
}

.animationOne {
    background-image: 
        radial-gradient(circle, rgba(0, 74, 148, 0.12) 10%, transparent 10%);
    background-size: 60px 60px;
    animation: slideRight 6s linear infinite;
    
}

.animationTwo {
    background-image:
        linear-gradient(45deg, rgba(0, 74, 148, 0.12) 25%, transparent 25%),
        linear-gradient(-45deg, rgba(0, 74, 148, 0.12) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, rgba(0, 74, 148, 0.12) 75%),
        linear-gradient(-45deg, transparent 75%, rgba(0, 74, 148, 0.12) 75%);
    background-size: 60px 60px;
    animation: slideRight 6s linear infinite;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow: hidden;
}