/*
    Description: This module contains css for ProfileNavbar.
    Last updated: 6/10/2026
*/

.navbar {
    display: flex;
    gap: 10px;
    background-color: #004A94;
    border-bottom: 2px solid #004A94;
}

.navOption {
    background-color: #004A94;
    font-size: 20px;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
}

.navOption:hover {
    cursor: pointer;
}